<h1>Stupid Coaching</h1>

<div class = "block">
  <p> <%= params[:question] %> </p>
  <p> -You </p>
</div>

<div class = "block" id="answer">
  <p> <%= @answer %></p>
  <p> -Your coach </p>
</div>

<%= link_to "Ask a new question", ask_path %>
